body {
    color: blue;
    padding: 1%;
    height: 100px;
    margin: auto;
    left: 10%;
  }
button{
  background-color: black;
  color: yellow;
  border: 2%;
  border-color: red;
  height: auto;
  max-width: auto;
  position:relative;
}

#title{
  color: red;
  max-width: auto;
  margin: auto;
  position: relative;
  left: 40%;
}

#train-home{
  color: black;
  background-color: yellow;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: auto;
  left: 40%;
  border: 15px;
  border-color: blue;
}

#train-info{
  color: black;
  background-color: red;
  max-width: auto;
  left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 15px;
  border-color: blue;
}
